<!DOCTYPE html>
<html>
   <head>
      <title>Index Page</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
   </head>
   <body>
      <div class="container">
         <h3>Products</h3>
         <form action="http://127.0.0.1:5000/refresh" method="post">
            <button type="submit" class="btn">Refresh</button>
         </form>
         <form action="http://127.0.0.1:5000/search" method="post" id="form-container">
         <input type="text" name="searchID" placeholder="Name of product">
            <button type="submit" class="btn" id="search-btn">Search</button>
         </form>
         <form action="http://127.0.0.1:5000/sorting" method="post" id="form-container">
            <select name="sortBy">
               {% for x in sortBy %}
                  <option value="{{x}}">{{x}}</option>
               {% endfor %}
            </select>
               <button type="submit" class="btn">Sort</button>
            </form>
         <form action="http://127.0.0.1:5000/add_item">
            <button type="submit" class="btn">ADD</button></form>
         <br>
         <table class="table">
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Description</th>
               <th>Category</th>
            </tr>
            {% for item in products %}
            <tr>
               <th><a href="http://127.0.0.1:5000/view/{{item[0]}}" type="button">{{item[0]}}</a></th>
               <th>{{item[1]}}</th>
               <th>{{item[2]}}</th>
               <th>{{item[3]}}</th>
               <th><a href="http://127.0.0.1:5000/delete/{{item[0]}}" type="button">Delete</a></th>
            </tbody>
            {% endfor%}
         </table>
      </div>
   </body>
</html>
